# Binaries and build outputs
bazel-bin/
bazel-out/
bazel-testlogs/
bazel-*

# Helm artifacts
charts/**/charts/
charts/**/templates/*.yaml

# General
node_modules/
.idea/
*.log
*.tgz
*.lock
helm-test/

# MacOS
.DS_Store
