apiVersion: v2
name: tradestream
description: Chart for deploying TradeStream.
version: 0.1.0
appVersion: "3.0.0"
dependencies:
  - name: flink-kubernetes-operator
    version: 1.10.0
    repository: "https://downloads.apache.org/flink/flink-kubernetes-operator-1.10.0/"
    condition: flink-kubernetes-operator.enabled
  - name: kafka
    version: 32.4.3
    repository: https://charts.bitnami.com/bitnami
  - name: influxdb2
    version: 2.1.2
    repository: "https://helm.influxdata.com/"
    alias: influxdb
    condition: influxdb.enabled
  - name: redis
    version: "24.1.0"
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: redis.enabled
  - name: postgresql
    version: "18.2.0"
    repository: "https://charts.bitnami.com/bitnami"
    condition: postgresql.enabled
