kafka:
  replicaCount: 2
  persistence:
    enabled: true
    size: 10Gi
    accessModes:
  listeners:
    client:
      protocol: 'PLAINTEXT'
    controller:
      protocol: 'PLAINTEXT'
kafkaUi:
  replicaCount: 1
  image:
    repository: "provectuslabs/kafka-ui"
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
dataIngestion:
  args:
    - --candlePublisherTopic=candles
    - --runMode=wet
  replicaCount: 1
  image:
    repository: "tradestreamhq/tradestream-data-ingestion"
    tag: "v0.0.592-develop"
  service:
    port: 8080
